label,
input {
color: #293241;
}
label {
margin-bottom: 0.5rem;
}
button {
color: #fff;
width: 100%;
font-size: 1rem;
background: #1d3557;
border-radius: 4px;
border: none;
cursor: pointer;
padding: 0.4rem 1.2rem;
margin-top: 0.5rem;
}
.register-form {
margin-top: 2rem;
padding: 2rem;
border-radius: 4px;
}
.form-group {
display: flex;
flex-direction: column;
margin-bottom: 1.5rem;
}
.form-control {
border: 2px solid rgba(#1d3557, 0.8);
border-radius: 4px;
padding: 0.5rem 1rem;
padding-left: 1rem;
font-size: 1rem;
}
.is-invalid {
border-color: #e63946;
}
.invalid-feedback {
color: #e63946;
font-size: 0.8rem;
margin-top: 0.3rem;
}