*,
*::after,
*::before {
margin: 0;
padding: 0;
box-sizing: border-box;
list-style: none;
}
body {
font-size: 1rem;
font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
height: 100vh;
background: #f1faee;
display: flex;
justify-content: center;
}
